body {
  margin: 0;
  background-color: #1e1e1e;
  color: #fefdfb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root{
  position: relative;
}

.settings-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  cursor: pointer;
  user-select: none;
}

.settings-icon:hover {
  opacity: 0.8;
}

.modal-window {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 375px;
  max-width: 50vw;
  background-color: silver;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}